:root {
    --border-color: rgba(255, 255, 255, 0.2);
    --ui-bg: rgb(0, 0, 0);
    --border-radius: 4px;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik.ttf') format('truetype');
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background: radial-gradient(#000, #000, #151515);
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 50px auto 300px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    transition: width 0.4s;
    font-family: "Rubik", sans-serif;
}

body.side-bar-hidden {
    width: calc(100vw + 300px);
}

.tool-bar {
    grid-column: 1;
    /* background-color: var(--ui-bg); */
    /* background-color: black; */
    /* box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2); */
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 2.5px 0 2.5px 0;
}

.tool-bar .spacer {
    flex-grow: 100;
}

.tool-bar .tool,
.tool-bar .button {
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.tool-bar .tool,
.button,
.pane .dialog .close-button,
.pane .fake-button {
    background-color: var(--ui-bg);
    /* background-color: rgb(0, 0, 0, 0.5); */
    margin: 2.5px 5px 2.5px 5px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    position: relative;
    border-radius: var(--border-radius);

    /* -webkit-backdrop-filter: blur(5px);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0); */
}

.selected.tool:not(.disabled),
.selected.button:not(.disabled),
.button:not(.disabled):active {
    border: 1px solid rgb(128, 128, 128);
    /* background-color: #333; */
    background-color: rgb(50, 50, 50, 0.8);
}

.tool-bar .tool:not(.disabled):hover,
.button:not(.disabled):hover,
.pane .dialog .close-button:hover {
    /* background-color: #333; */
    background-color: rgb(25, 25, 25, 0.8);
}

.disabled.tool,
.disabled.button {
    border: 1px solid var(--border-color);
    background-color: var(--ui-bg);
    opacity: 0.5;
}

.tool[data-tip]::after,
.button[data-tip]::after {
    content: attr(data-tip);
    white-space: nowrap;
    position: absolute;
    left: 50px;
    top: 5px;
    border: 1px solid #555;
    background-color: var(--ui-bg);
    padding: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0s 0s;
    visibility: hidden;
    z-index: 10;
    text-transform: uppercase;
    font-size: 13px;
    font-variation-settings: 'wght'400;
    color: rgb(190, 190, 190);
    border-radius: var(--border-radius);
}

.tool[data-tip]:not(.disabled):hover::after,
.button[data-tip]:not(.disabled):hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s 0.5s;
}

.selection.tool,
.selection.fake-button {
    background-image: url("icons/pointer.svg");
    /* background-image: url("edit-icons/002-selection.svg"); */
    background-size: 18px;
}

.segment.tool,
.segment.fake-button {
    background-image: url("edit-icons/line.svg");
    background-size: 20px;
}

.pen.tool,
.pen.fake-button {
    background-image: url("edit-icons/046-pen.svg");
    background-size: 20px;
}

.cutter.tool,
.cutter.fake-button {
    background-image: url("edit-icons/016-slice.svg");
    background-size: 20px;
}

.ruler.tool,
.ruler.fake-button {
    background-image: url("edit-icons/040-ruler.svg");
    background-size: 20px;
}

.eraser.tool {
    background-image: url("edit-icons/047-eraser.svg");
    background-size: 20px;
}

.simulation.tool,
.simulation.fake-button {
    background-image: url("icons/play.svg");
    background-size: 17px;
}

.presimulation.tool,
.presimulation.fake-button {
    background-image: url("icons/play-clock.svg");
    background-size: 15px;
}

.rulers.button,
.rulers.fake-button {
    background-image: url("edit-icons/007-rulers.svg");
    background-size: 20px;
}

.flip.button,
.flip.fake-button {
    background-image: url("edit-icons/036-reflect.svg");
    background-size: 20px;
}

.help.button,
.help.fake-button {
    background-image: url("icons/help.svg");
    background-size: 17px;
}

.export.button,
.export.fake-button {
    background-image: url("edit-icons/download-c.svg");
    background-size: 20px;
}

.settings.button,
.settings.fake-button {
    background-image: url("icons/cog.svg");
    background-size: 15px;
}

.save.button,
.save.fake-button {
    background-image: url("icons/save.svg");
    background-size: 14px;
}

.add.button,
.add.fake-button {
    background-image: url("icons/add.svg");
    background-size: 17px;
}

.load.button,
.load.fake-button {
    background-image: url("icons/list.svg");
    background-size: 15.5px;
}

.zoom-in.button,
.zoom-in.fake-button {
    background-image: url("edit-icons/049-zoom-in.svg");
    background-size: 20px;
}

.zoom-out.button,
.zoom-out.fake-button {
    background-image: url("edit-icons/048-zoom-out.svg");
    background-size: 20px;
}

.home.button,
.home.fake-button {
    background-image: url("edit-icons/home.svg");
    background-size: 20px;
}

.side-bar-toggle.button,
.side-bar-toggle.fake-button {
    background-image: url("edit-icons/sidebar.svg");
    background-size: 20px;
}

.main-view {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    text-align: center;
    /* position: relative; */
}

.main-view #defaultCanvas0 {
    position: absolute;
    left: 0;
    /* right: 0;
    top: 0;
    bottom: 0;
    width: 100vw; */
}

.main-view .title-bar {
    width: calc(100vw - 300px - 50px);
    position: absolute;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-view .title-bar .title {
    padding: 10px;
    border-radius: calc(2 * var(--border-radius));
    background-color: var(--ui-bg);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--border-color);
    z-index: 5;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.main-view .zoom-bar {
    width: calc(100vw - 300px - 50px);
    position: absolute;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    padding: 2.5px;
    z-index: 5;
}

.main-view .zoom-bar .button {
    margin: 2.5px;
    box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.3);
}

.main-view .zoom-bar .zoom-in.button {
    margin-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.main-view .zoom-bar .zoom-in.button:hover {
    z-index: 5;
}

.main-view .zoom-bar .zoom-out.button {
    margin-left: -1px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.side-bar {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    /* background-color: var(--ui-bg); */
    /* background-color: black; */
    /* box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3); */
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 5;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.side-bar .logo {
    background-image: url("logo.png");
    background-position: 27px 15px;
    background-size: 15%;
    background-repeat: no-repeat;
    height: 55px;
    width: 100%;
    text-align: center;
    line-height: 500%;
    padding-left: 75px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 15px;
    font-variation-settings: 'wght'700;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    transition: font-variation-settings 500ms, letter-spacing 500ms;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 1));
}

/* .side-bar .logo:hover {
    font-variation-settings: 'wght' 200;
    letter-spacing: 2px;
} */

.logo-superscript {
    display: inline-block;
    color: green;
    font-size: 12px;
    letter-spacing: initial;
    transform: translateY(-10px);
}

.side-bar .section {
    position: relative;
    margin: 5px;
    margin-top: 1.5em;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
    border-radius: calc(2 * var(--border-radius));
    background-color: var(--ui-bg);
    /* background-color: rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.side-bar .section[data-section-name] {
    padding-top: 0.5em;
    position: relative;
}

.side-bar .section[data-section-name]::before {
    content: attr(data-section-name);
    position: absolute;
    top: -0.5em;
    left: 15px;
    display: inline-block;
    color: #eee;
    font-size: 13px;
    font-weight: bold;
    font-variation-settings: 'wght'600;
    /* background: linear-gradient(transparent 0%, transparent 36%, var(--ui-bg) 37%, var(--ui-bg) 100%); */
    text-transform: uppercase;
    padding: 0px 5px;
    letter-spacing: 0.5;
}

.side-bar .section .action-list {
    padding: 5px;
    display: flex;
}

.side-bar .section .action-list .action,
.side-bar .section .action-list .add-action {
    margin-right: 5px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    transition: opacity 200ms;
}

.side-bar .section:not(.disabled) .action-list .action:hover,
.side-bar .section:not(.disabled) .action-list .add-action:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.side-bar .section:not(.disabled) .action-list .action:active,
.side-bar .section:not(.disabled) .action-list .add-action:active {
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(50, 50, 50, 0.8);
}

.side-bar .section.disabled .action-list .action,
.side-bar .section.disabled .action-list .add-action {
    opacity: 0.5;
}

.side-bar .section.disabled .action-list .action {
    display: none;
}

.side-bar .section.disabled .action-list .add-action {
    opacity: 0.5;
}

.side-bar .section .action-list .add-action {
    width: 20px;
    text-align: center;
}

.side-bar .inspector.section .message {
    position: absolute;
    width: 100%;
    top: 150px;
    text-align: center;
    /* fill: rgba(230, 230, 230, 0.5); */
    font-family: 'Rubik', 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 13px;
    font-variation-settings: 'wght'400;
    color: rgb(190, 190, 190);
}

.side-bar .label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
    font-variation-settings: 'wght'400;
    color: rgb(190, 190, 190);
    letter-spacing: 200%;
}

.button-list {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    padding: 0px 2.5px;
    margin: 5px 0;
}

.button-list .button {
    display: inline-block;
    margin: 0 2.5px;
    border: 1px solid var(--border-color);
    height: 35px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 2.4;
    flex-grow: 1;
    flex-shrink: 1;
    transition: opacity 200ms;
}

.button-list .button:not(.disabled):hover {
    /* background-color: #333; */
    background-color: rgb(255, 255, 255, 0.1);
}

.button-list .button:not(.disabled):active,
.button-list .button.selected {
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(50, 50, 50, 0.8);
}

.button-list .next.button {
    background-image: url("icons/next.svg");
    background-size: 13px;
}

.button-list .reset.button {
    background-image: url("icons/previous.svg");
    background-size: 13px;
}

.button-list .run.button {
    background-image: url("icons/run.svg");
    background-size: 13px;
}

.button-list .pause.button {
    background-image: url("icons/pause.svg");
    background-size: 13px;
}

.button-list .stop.button {
    background-image: url("icons/stop.svg");
    background-size: 18px;
}

.inspector.section .slider {
    display: block;
    -webkit-appearance: none;
    width: calc(100% - 10px);
    height: 35px;
    outline: none;
    -webkit-transition: 200ms;
    transition: opacity 200ms;
    margin: 5px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    border-radius: var(--border-radius);
    padding: 5px 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(50, 50, 50, 0.8);
    border-radius: var(--border-radius);
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(50, 50, 50, 0.8);
    border-radius: var(--border-radius);
}

.slider:hover:not([disabled])::-webkit-slider-thumb {
    background-color: rgb(255, 255, 255, 0.1);
}

.slider:hover:not([disabled])::-moz-range-thumb {
    background-color: rgb(255, 255, 255, 0.1);
}

.slider[disabled] {
    opacity: 0.5;
}

.side-bar table {
    padding-left: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0.5em;
    width: calc(100% - 10px);
    border-collapse: collapse;
}

.side-bar table tr {
    margin: 5px;
    counter-increment: point-count;
    /* background-color: var(--ui-bg); */
    font-family: 'Rubik', 'Courier New', Courier, monospace;
    font-size: 13px;
    /* border: 1px solid transparent;  */
    white-space: pre;
    color: rgb(190, 190, 190);
    border: 1px solid rgb(128, 128, 128, 0);
}

.side-bar table tr:first-child {
    color: rgb(230, 230, 230);
}

.side-bar table tr.preselected {
    border-bottom: 1px solid rgb(128, 128, 128);
}

.side-bar table tr.selected {
    border: 1px solid rgb(128, 128, 128);
    /* background-color: #333; */
    background-color: rgb(255, 255, 255, 0.2);
}

.side-bar table tr.hovered {
    /* background-color: #333; */
    background-color: rgb(255, 255, 255, 0.1);
}

.side-bar table tr td {
    padding: 0.2em 0.3em;
    text-align: center;
}

span.flip {
    display: inline-block;
    transform: scaleX(-1);
}

span.up {
    display: inline-block;
    transform: rotate(90deg);
}

span.down {
    display: inline-block;
    transform: rotate(-90deg);
}

.smalltext {
    font-size: 9;
    text-transform: uppercase;
    font-variation-settings: 'wght'600;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 1px;
    margin: 0 1px;
}

.side-bar .indicator {
    margin: 10px 20px;
}

.side-bar .indicator .label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-variation-settings: 'wght'400;
    color: rgb(190, 190, 190);
    margin: 0;
}

.side-bar .indicator .value {
    float: right;
    font-family: 'Rubik', 'Courier New', Courier, monospace;
    font-size: 13px;
    white-space: pre;
    font-variant-numeric: tabular-nums;
}

svg#robot {
    width: 100%;
    /* transform: scale(0.8) rotate(90deg); */
}

svg#robot.disabled {
    opacity: 0.3;
}

svg#robot rect,
svg#robot #body {
    fill: rgba(255, 255, 255, 0);
    stroke: var(--border-color);
}

svg#robot:not(.disabled) rect:hover {
    fill: rgba(255, 255, 255, 0.1);
    stroke: var(--border-color);
}

svg#robot:not(.disabled) rect:active,
svg#robot:not(.disabled) rect.active {
    fill: rgba(255, 255, 255, 0.1);
    stroke: rgb(128, 128, 128);
}

svg#robot text {
    fill: rgb(230, 230, 230);
    font-family: 'Rubik', 'Courier New', Courier, monospace;
    font-size: 12px;
}

.pane {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.pane .dialog {
    display: inline-block;
    width: calc(min(100% - 40px, 20vw + 400px));
    height: calc(100% - 100px - 40px);
    overflow-y: auto;
    background-color: var(--ui-bg);
    position: relative;
    top: 50px;
    padding: 20px;
    box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.3);
}

.pane .dialog .close-button {
    background-image: url("icons/close.svg");
    background-size: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.pane .dialog .title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-variation-settings: 'wght'700;
}

.pane .dialog .section {
    text-align: left;
    text-transform: uppercase;
    color: #eee;
    font-size: 13px;
    font-weight: bold;
    font-variation-settings: 'wght'600;
    margin: 1em 0;
    margin-bottom: 0.5em;
}

.pane .dialog p {
    text-align: left;
    font-size: 15px;
    color: #ccc;
    margin-top: 0.5em;
    margin-bottom: 20px;
}

.pane .dialog pre {
    background-color: #111;
    text-align: left;
    overflow: scroll;
    padding: 20px;
    margin-bottom: 0;
    max-height: 500px;
}

p span.key {
    display: inline-block;
    padding: 1px 3px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 13px;
}

.pane .list {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.pane .saved-item {
    margin: 5px 0;
    border: 1px solid var(--border-color);
    font-size: 14px;
    text-align: left;
    border-radius: 4px;
}

.pane .saved-item:hover {
    background-color: #333;
}

.pane .saved-item.selected {
    background-color: #333;
    border: 1px solid rgb(128, 128, 128);
}

.pane .saved-item .name {
    display: inline-block;
    margin: 5px;
    margin-left: 15px;
    height: 40px;
    line-height: 300%;
}

.pane .saved-item .expand-button {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    float: right;

    background-color: var(--ui-bg);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    position: relative;

    transition: width 600ms, background-position 100ms, color 300ms;

    color: transparent;
    text-align: right;
    overflow: hidden;
    padding: 10px;
}



.pane .saved-item .delete.expand-button {
    background-image: url("icons/trash.svg");
    background-position: center;
    background-size: 19px;
    background-repeat: no-repeat;
}

.pane .saved-item .duplicate.expand-button {
    background-image: url("icons/duplicate.svg");
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}

.pane .saved-item .expand-button:hover {
    width: 115px;
    padding: 10px;
    color: white;
    background-position: 10px 10px;

    transition: width 600ms, background-position 100ms, color 1000ms;
}



.dialog-container {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}


.dialog-container .dialog {
    width: 350px;
    background-color: var(--ui-bg);
    padding: 15px;
    box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.3);
}

.dialog-container .dialog .title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5;
    font-variation-settings: 'wght'700;
}

.dialog-container .dialog .label {
    text-align: left;
    text-transform: uppercase;
    color: #eee;
    font-size: 13px;
    font-weight: bold;
    font-variation-settings: 'wght'600;
    margin: 1em 0;
    margin-bottom: 0.5em;
}

.dialog-container .dialog p {
    margin-bottom: 5px;
}

.dialog-container .dialog #strat-name {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 15px;
    background-color: #111;
    color: white;
    font-family: "Rubik";
    outline: none;
    margin-bottom: 15px;
}

.dialog-container .dialog #strat-name:focus {
    outline: 1px solid rgb(128, 128, 128);
}

.dialog-container .dialog .button-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.dialog-container .dialog .button-list .button:first-child {
    margin-left: 0;
}

.dialog-container .dialog .button-list .button:last-child {
    margin-right: 0;
}



.tutorial-cutout {
    position: absolute;
    z-index: 100;
    top: 45px;
    left: 0px;
    right: 50px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .7);
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden {
    display: none !important;
}

.float-left {
    float: left;
    margin: 5px 15px 10px 0 !important;
}

main {
    display: none;
}